@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1250px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.body-blue {
  background: #69a9ff;
}

.body-yellow {
  background: #fcc850;
}

.button {
  display: inline-block;
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  background: #fcfcfc;
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  padding: 12px 33px;
  cursor: pointer;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.button:active {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  outline-offset: 0;
}

.button:disabled {
  background: #e7e7e7;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Навигация */

.page-header {
  color: #2d3440;
  line-height: 20px;
}

.page-header-logo {
  display: block;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 24px;
  justify-content: space-between;
}

.navigation-logo {
  margin-right: 16px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 700px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  display: block;
  box-sizing: border-box;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  list-style-type: none;
  padding: 8px 16px;
  display: block;
  border-radius: 30px;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
  background: #fcfcfc;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: 0;
}

/* Выпадающее меню каталога */

.navigation-item-catalog-menu .catalog-navigation-list {
  display: none;
}

.catalog-navigation-list {
  position: absolute;
  top: 44px;
  right: -22px;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 138px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 8px 0 8px 0;
  list-style-type: none;
}

.navigation-item-catalog-menu {
  position: relative;
  border-radius: 30px;
}

.catalog-navigation-link {
  font-size: 14px;
  text-decoration: none;
  color: #2d3440;
  position: relative;
}

.navigation-icon-catalog-menu {
  position: absolute;
  top: 15px;
  left: 87px;
}

.navigation-item-catalog-menu:focus-within .catalog-navigation-list {
  display: block;
  position: absolute;
  background: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.catalog-navigation-list:hover {
  opacity: 1;
}

.navigation-link-catalog-menu {
  padding-right: 38px;
}

.navigation-link-catalog-menu:focus-within,
.navigation-item-catalog-menu:focus-within .navigation-link-catalog-menu {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.navigation-item-catalog-menu:focus-within .navigation-icon-catalog-menu {
  transform: rotateX(180deg);
}

.navigation-link-catalog-menu:focus-within:hover {
  opacity: 0.6;
}

.navigation-link-catalog-menu:focus-within:active {
  opacity: 0.3;
}

.navigation-link-catalog-menu:focus-within:focus {
  outline: 2px solid #000000;
  outline-offset: 0;
}

.catalog-navigation-item-new {
  margin-bottom: 8px;
}

.catalog-navigation-item-new::after {
  content: " ";
  display: inline-block;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  pointer-events: none;
  position: absolute;
  top: 36px;
  left: 15px;
}

.catalog-new-products,
.phone-header {
  font-weight: 700;
}

.catalog-new-products {
  display: block;
}

.catalog-navigation-item {
  padding: 6px 16px;
  position: relative;
}

.catalog-navigation-item:hover,
.catalog-navigation-item:focus,
.catalog-navigation-item:focus-within {
  background: #ffcbd8;
}

.catalog-navigation-item:active {
  background: #ff7799;
}

.current {
  color: #fcfcfc;
  background: #ff4a78;
}


.navigation-item-catalog-menu:focus-within:hover {
  background: #ffcbd8;
}


.navigation-item-catalog-menu:focus-within:active {
  box-shadow: inset 0 0 0 2px #000000;
  opacity: 0.3;
}

/* Навигация - Поиск Вход Корзина */

.navigation-user {
  min-width: 400px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item-user:last-child {
  margin-right: 0;
}

.navigation-link-user {
  padding: 6px 16px 6px 38px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
}

.navigation-link-user:focus-within {
  background: #ff4a78;
  color: #fcfcfc;
  border-radius: 28px;
}

.navigation-link-user:focus-within:hover {
  opacity: 0.6;
}

.navigation-link-user:focus-within:focus {
  outline: 2px solid #000000;
  outline-offset: 0;
}

.navigation-link-user:focus-within:active,
.navigation-link-icon-exit:focus-within:active {
  opacity: 0.3;
}

.navigation-icon {
  display: block;
}

.navigation-item-icon {
  margin-right: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  position: relative;
}

.navigation-item-icon-exit,
.navigation-item-icon-cart {
  position: relative;
}

.navigation-icon-exit,
.navigation-icon-cart {
  position: absolute;
  right: auto;
  left: 17px;
  top: 9px;
  margin: auto 0;
}

.navigation-link-icon-search {
  padding: 10px;
}

/* Поповер - Поиск по сайту */

.popover-search-active {
  display: block;
}

.popover-search {
  display: none;
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 1px;
  background: #fcfcfc;
  border-radius: 4px;
  padding: 24px 16px;
  width: 325px;
}

.navigation-item-icon:focus-within .popover-search {
  display: block;
}

.popover-search-input {
  width: 100%;
  margin: 0;
  padding: 14px 16px;
  box-sizing: border-box;
}

.close-button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* Поповер - Авторизация */

.popover-authorization-active {
  display: block;
}

.popover-authorization {
  display: none;
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 1px;
  background: #fcfcfc;
  border-radius: 4px;
  padding: 48px;
  width: 324px;
}

.navigation-item-icon:focus-within .popover-authorization {
  display: block;
}

.popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.authorization-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.user-authorization-wrapper {
  display: flex;
  column-gap: 23px;
  margin-top: 12px;
}

.user-authorization-list {
  list-style-type: none;
  padding: 0;
}

.user-authorization-link {
  display: inline-block;
  font-size: 14px;
  color: #2d3440;
  margin-top: 2px;
}

/* Поповер Корзина (с товарами)*/

.popover-cart-active {
  display: block;
}

.popover-cart {
  display: none;
  position: absolute;
  z-index: 1;
  width: 440px;
  background: #fcfcfc;
  border-radius: 4px;
  top: 40px;
  right: 1px;
  padding: 48px;
  box-sizing: border-box;
}

.navigation-item-icon:focus-within .popover-cart {
  display: block;
}

.cart-list {
  padding: 0;
  position: relative;
}

.cart-list::after {
  content: "";
  width: 345px;
  height: 1px;
  background-color: #e7e7e7;
  bottom: -32px;
  position: absolute;
}

.cart-item {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.cart-item:last-child {
  margin-bottom: 64px;
}


.cart-link {
  text-decoration: none;
  display: flex;
}

.cart-link img {
  display: block;
  margin-left: 3px;
}

.cart-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 3px;
  text-decoration: none;
}

.cart-price-wrapper span {
  font-size: 14px;
  color: #b9b9b9;
  text-decoration: none;
}

.product-cart-price,
.cart-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 22px;
}


.cart-button-delete {
  background: url("../images/icons/close.svg") no-repeat center center;
  min-height: 16px;
  border: none;
  cursor: pointer;
}

.cart-price-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 16px;
}

.cart-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

/* Поповер Корзина (пустая) */

.popover-cart-empty-active {
  display: block;
}

.popover-cart-empty {
  display: none;
  position: absolute;
  width: 230px;
  top: 38px;
  right: 1px;
  background: #fcfcfc;
  text-align: center;
  padding: 48px 0;
  border-radius: 4px;
}

.popover-title-empty {
  margin: 0;
}

/* Слайдер */

.slider {
  margin-bottom: 80px;
}

.slider-gallery {
  color: #2d3440;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  margin: 0 0 3px 0;
  padding: 0;
  display: flex;
}

.slider-ice-cream {
  display: flex;
  align-items: center;
  margin-right: 34px;
  position: relative;
}

.slider-ice-cream-active img {
  display: block;
}

.slider-ice-cream:last-child {
  margin-right: 0;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 24px 0;
}

.slider-ice-cream-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 108px 2px 82px 70px;
}

.slider-ice-cream-description p {
  margin: 0 0 48px 0;
}

.inactive {
  display: none;
}

.slider-ice-cream-active {
  padding-top: 44px;
}

.slider-ice-cream-active::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  transform: translateY(-50%);
  top: 55%;
  border-radius: 50%;
  z-index: -1;
  background: #ffcbd8;
}

.slider-ice-cream-inactive img {
  display: block;
  padding-top: 43px;
}

.slider-ice-cream-inactive::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  top: 55%;
  left: -6px;
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
}

.body-pink .slider-ice-cream-active::before,
.body-pink .slider-ice-cream-inactive::before {
  background: #ffcbd8;
}

.body-blue .slider-ice-cream-active::before,
.body-blue .slider-ice-cream-inactive::before {
  background: #9fc8ff;
}

.body-yellow .slider-ice-cream-active::before,
.body-yellow .slider-ice-cream-inactive::before {
  background: #fcdc92;
}

.slider-foto-inactive {
  width: 100px;
  object-fit: contain;
  opacity: 0.4;
}

.slider-button {
  position: relative;
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  outline-offset: 0;
  border: none;
  border-radius: 50%;
  color: #fcfcfc;
  box-sizing: border-box;
  padding: 13px 16px 13px 16px;
  cursor: pointer;
}

.slider-arrow {
  position: absolute;
  transform: translate(-3px, -5px);
}

.slider-button:hover {
  background: #fcfcfc;
}

.slider-button:hover .slider-arrow {
  color: #2d3440;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
}

.slider-button:active .slider-arrow {
  color: #2d3440;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.slider-button:focus .slider-arrow {
  color: #2d3440;
}

.slider-button:disabled {
  opacity: 0.4;
}

.slider-prev {
  transform: translate(18px, 26px) rotate(180deg);
}

.slider-next {
  transform: translate(-11px, 25px);
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: #fcfcfc;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.slider-pagination-button:active {
  background: #fcfcfc;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #2d3440;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.slider-social-item {
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
  box-sizing: border-box;
}

.slider-social-item:last-child {
  margin: 0;
}

.sider-footer {
  display: flex;
  justify-content: space-between;
}

/* Секция "Подарки" */

.presents {
  margin-bottom: 80px;
  color: #2d3440;
}

.presents-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.presents-item {
  width: 570px;
  background-color: #ff7799;
  background-size: 195px 306px;
  background-repeat: no-repeat;
  background-position: right 15px bottom -64px;
  padding: 36px 206px 36px 36px;
  box-sizing: border-box;
  border-radius: 16px;
}

.presents-raspberry {
  background-image: url("../images/raspberry-waffle.png");
}

.presents-marshmallow {
  background-image: url("../images/marshmallow-waffle.png");
  background-size: 225px 349px;
  background-position: right -12px bottom -107px;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  text-align: center;
  margin-bottom: 56px;
}

.presents h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 28px;
}

.presents p {
  margin-top: 0;
  margin-bottom: 28px;
}

.popular {
  margin-bottom: 80px;
}

.advantages-container {
  background: url("../images/waffle-background.png") no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.advantages {
  background: #ffffff;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px 30px;
  padding: 0;
}

.advantages-item {
  width: 442px;
  margin: 0;
  padding-left: 64px;
  background-position: right top;
}

.advantages-item-production {
  background: url("../images/icons/icon-ice-cream.svg") no-repeat;
}

.advantages-item-farmers {
  background: url("../images/icons/icon-cow.svg") no-repeat;
}

.advantages-item-raw-material {
  background: url("../images/icons/icon-leaf.svg") no-repeat;
}

.advantages-item-temp {
  background: url("../images/icons/icon-thermometer.svg") no-repeat;
}

.advantages-item:nth-child(2n) {
  margin-right: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.blog {
  background: #ffffff url("../images/blog-background.jpg") no-repeat top right;
  background-size: 345px;
  border-radius: 16px;
  width: 570px;
  padding: 32px 235px 69px 32px;
  box-sizing: border-box;
}

.blog p {
  margin: 0 0 10px 0;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
  margin-top: 12px;
}

/* Форма подписки на новости */

.newsletter {
  background: #ffffff url("../images/mail-background.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 570px;
  padding: 6px;
  box-sizing: border-box;
}

.newsletter-container {
  background: #ffffff;
  border-radius: 16px;
  background-size: 558px 212px;
  padding: 26px;
}

.newsletter-container p {
  margin: 0 0 43px 0;
}

.newsletter-form {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.newsletter-input {
  flex-grow: 1;
  margin: 0 18px 0 0;
}

.field {
  padding: 14px 16px;
  font: inherit;
  line-height: 20px;
  color: #2d3440;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  box-sizing: border-box;
}

.field:hover {
  border: 1px solid #2d3440;
}

.field:focus {
  box-shadow: inset 0 0 0 1px #2d3440;
  outline: none;
}

.field:not(:empty):invalid {
  border: 1px solid #ea5454;
}

.field:disabled {
  background: #e7e7e7;
  border: 1px solid #b9b9b9;
}

.field:not(:empty):hover:invalid {
  border: 2px solid #ea5454;
}

.field:disabled:hover {
  background: #e7e7e7;
  border: 1px solid #b9b9b9;
  opacity: 0.65;
}

.field::placeholder {
  color: #b9b9b9;
}


.form-button {
  color: #fcfcfc;
  background: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
}

.form-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  color: #2d3440;
}

.form-button:active {
  background: #feafc3;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.form-button:focus {
  background: #ff2f64;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.form-button:disabled {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
}

/* Доставка */

.delivery {
  width: 1170px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 64px 64px 66px 100px;
  box-sizing: border-box;
  background: #ffffff url("../images/delivery-background.jpg") no-repeat;
  background-size: cover;
}

.delivery-description {
  margin: 0;
}

.delivery-wrapper {
  width: 371px;
  padding-top: 103px;
  box-sizing: border-box;
}

.delivery-wrapper .title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-form {
  background: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
}

.delivery-form-description {
  margin: 0 0 32px 0;
  grid-column: 1/-1;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 8px;
}

.delivery-date-wrapper,
.delivery-phone-wrapper,
.delivery-address-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.delivery-address-wrapper {
  grid-column: 1/-1;
  margin-bottom: 30px;
}

.delivery-button {
  grid-column: 1/-1;
  justify-self: center;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  position: absolute;
  top: 5px;
  left: 6px;
  min-width: 12px;
  min-height: 12px;
  background: url("../images/icons/label-icon.svg") no-repeat center center;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: -8px;
  left: 33px;
  width: 162px;
  padding: 10px 9px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  border: 1px solid #b9b9b9;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #565c66;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -8px;
  width: 14px;
  height: 14px;
  background-color: #fcfcfc;
  border-left: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  transform: rotate(45deg);
}


.contacts {
  background: #ede4e4 url("../images/contacts-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 763px 66px 64px;
}

.contacts-container {
  background: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.contact-description {
  margin: 0 0 12px 0;
}

.contacts-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2d3440;
}

.contacts-address p {
  margin: 0 0 24px 0;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2d3440;
  text-decoration: none;
}

.contact-phone-description {
  margin: 0 0 14px 0;
}

.time-work {
  letter-spacing: -1px;
  margin: 0 0 28px 0;
}

.page-footer {
  padding: 48px 0;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  width: 1170px;
  margin: 0 auto;
}

.footer-social-list {
  list-style-type: none;
  margin: 0 306px 0 0;
  padding: 0 0 0 4px;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.social-link {
  display: block;
  border-radius: 50%;
}

.social-link:hover {
  background-color: #2d3440;
  background-size: contain;
  outline: 3px solid rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus {
  outline: 2px solid #2d3440;
  background-color: #2d3440;
}

.social-icon {
  display: block;
  color: #fcfcfc;
  outline: 3px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  outline-offset: -1px;
}

.footer-social-item {
  min-width: 24px;
  margin-right: 16px;
}

.footer-social-item:last-child {
  margin-right: 0;
}


.information-list {
  list-style-type: none;
  margin: 0 200px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 126px 182px;
  column-gap: 24px;
  row-gap: 6px;
}


.information-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  display: inline-block;
}

.suppliers-link {
  font-weight: 700;
  position: relative;
}

.suppliers-link::before {
  content: "";
  min-width: 14px;
  min-height: 12px;
  background: url("../images/icons/heart.svg") no-repeat;
  position: absolute;
  top: 3px;
  left: -20px;
}

.htmlacademy {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 11px 0 0 0;
}

.htmlacademy-wrapper {
  width: 193px;
}

.htmlacademy-image {
  display: block;
}

.htmlacademy-link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 1;
}

/* Открыть модальное окно - удалить "display: none;" или поменять на "display: flex;" */

.modal-container-close {
  display: none;
}

.modal-feedback {
  position: relative;
  width: 570px;
  margin: auto;
  padding: 64px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  display: block;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url("../images/icons/close.svg") no-repeat center;
  background-size: 10px 10px;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal-feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-field {
  padding-top: 12px;
}

.modal-button {
  align-self: flex-end;
  margin-top: 16px;
}

/* Страница каталога */

.main-inner {
  padding-top: 57px;
}

.katalog-title {
  text-align: start;
  margin-bottom: 40px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 16px 0;
}

.breadcrumbs-item {
  padding-right: 18px;
  margin-right: 11px;
  background: url("../images/icons/union-breadscrumbs.svg") no-repeat right 0 center;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
  margin-right: 0;
  background: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

/* Сортировка */

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 80px;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-group {
  margin: 0 0 16px 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0 0 0 16px;
  margin-bottom: 6px;
}

.catalog-filter-title-price {
  margin: 0 -3px 0 0;
}

/* Фильтр "Сортировка" */

.select-control {
  padding: 12px 27px 11px 16px;
  background: rgba(252, 252, 252, 0.3) url("../images/icons/union.svg") no-repeat right 16px center;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  letter-spacing: 1px;
  margin-right: 24px;
}

.select-control:hover {
  background: rgba(252, 252, 252, 0.5) url("../images/icons/union.svg") no-repeat right 16px center;
}

.select-control:focus {
  background: rgba(252, 252, 252, 0.4) url("../images/icons/union.svg") no-repeat right 16px center;
  box-shadow: inset 0 0 0 2px #fcfcfc;
}

/* Фильтр "Цена" */

.range-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-right: 24px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 6px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range {
  padding: 18px 16px 16px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 4px;
  background-color: rgb(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #2d3440;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.range-toggle-background {
  display: block;
  background: #fcfcfc;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.range-toggle:hover {
  background: #fcfcfc;
}

.range-toggle:hover .range-toggle-background,
.range-toggle:active .range-toggle-background {
  background-color: #2d3440;
}

.range-toggle:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}

.toggle-min {
  top: -7px;
  right: 58px;
}

.toggle-max {
  top: -7px;
  right: -14px;
}

/* Фильтры жирность и наполнители*/

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;

  list-style-type: none;
  margin: 0;
}

.fat-filter {
  padding: 9px 25px 8px 24px;
}

.topping-filter {
  padding: 12px 26px 10px 25px;
}

.control-fat,
.control-topping {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.filter-name {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
}

.control-mark {
  width: 16px;
  height: 16px;
  min-width: 16px;
  box-sizing: border-box;
  border: 1px solid #2d3440;
}

.control-mark:hover,
.control-mark:focus {
  border: 1px solid #fcfcfc;
}

.control-input:focus + .control-mark {
  border: 1px solid #fcfcfc;
}

.control-input:focus-visible + .control-mark {
  border: 1px solid #fcfcfc;
}

.control-input:disabled + .control-mark {
  opacity: 0.4;
}

.control-input:disabled + .control-mark:hover {
  border-color: #2d3440;
}

/* Фильтр "Жирность" */

.control-mark-fat {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.control-mark-fat::after {
  content: "";
  position: absolute;
  display: none;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
}

.control-input:checked + .control-mark-fat::after {
  display: block;
}

.control-input:checked:focus + .control-mark-fat::after {
  display: block;
  background-color: #fcfcfc;
}

/* Фильтр - Наполнители */

.control-mark-topping {
  border-width: 1px;
  border-radius: 3px;
  box-sizing: border-box;
}

.control-input:checked + .control-mark-topping {
  background: url("../images/icons/checkbox-black.svg") center center;
  border: none;
}

.control-input:checked:hover + .control-mark-topping,
.control-input:checked:focus + .control-mark-topping {
  background: url("../images/icons/checkbox-white.svg");
  outline: none;
}

.control-input:checked:disabled + .control-mark-topping {
  background: url("../images/icons/checkbox-gray.svg");
}

/* Кнопка сортировки */

.sorting-button {
  font-size: 14px;
  outline: 2px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  box-shadow: none;
  align-self: baseline;
  padding: 12px 54px 7px 52px;
  margin: 28px 0 0 19px;
}

.sorting-button:hover {
  background: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.sorting-button:active {
  background: rgba(252, 252, 252, 0.5);
}

.sorting-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.sorting-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #fcfcfc;
}

/* Каталог товаров */

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  row-gap: 90px;
  column-gap: 30px;
  padding: 51px 0 0 0;
  margin-bottom: 16px;
  margin-top: 0;
}

.catalog-product-list {
  padding: 0;
  margin-bottom: 66px;
}

.product-card {
  background: #fcfcfc;
  border-radius: 8px;
  padding: 0 40px 24px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.product-image {
  display: block;
  max-width: 100%;
  margin-left: 10px;
  border-radius: 50%;
  object-fit: contain;
}

.product-card-buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-link-image {
  margin-bottom: 16px;
  margin-top: -50px;
}

.product-card-link-name {
  color: #565c66;
  text-decoration: none;
}

.product-card-link-name h3,
.product-card-price {
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.product-card-link-name h3 {
  margin-bottom: 8px;
}

.product-card-link-name p {
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-button {
  background: #ff2f64;
  border: none;
  box-shadow: none;
  text-decoration: none;
  border-radius: 26px;
  padding: 9px;
  color: #fcfcfc;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card-button:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #ff2f64;
  border-radius: 26px;
  color: #2d3440;
}

.product-card-button:active {
  background: #ffcbd8;
  box-shadow: inset 0 0 0 2px #ff2f64;
  color: #2d3440;
}

.product-card-button:focus {
  background: #ff2f64;
  box-shadow: inset 0 0 0 2px #2d3440;
  border-radius: 26px;
}

.product-card-button:disabled {
  background: #b9b9b9;
}

.product-card-button-icon {
  display: block;
}

/* Пагинация */

.pagination-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 9px;
  margin-bottom: 90px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  position: relative;
  min-width: 24px;
}

.pagination-item:first-child {
  margin-right: 3px;
}

.pagination-link {
  display: inline-block;
  text-decoration: none;
  line-height: 20px;
  color: #2d3440;
  padding: 2px 7px;
  cursor: pointer;
  border-radius: 50%;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
}

.pagination-link-current {
  background: #fcfcfc;
  border-radius: 50%;
  padding: 2px 8px;
  transform: translateX(5px);
}

.pagination-prev {
  width: 6px;
  height: 11px;
  background: url("../images/icons/union.svg") no-repeat center center;
  border: none;
  transform: translate(-4px, 4px) rotate(90deg);
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  padding: 8px;
}

.pagination-next {
  width: 6px;
  height: 11px;
  padding: 8px;
  background: url("../images/icons/union.svg") no-repeat center center;
  border: none;
  transform: translate(7px, 5px) rotate(-90deg);
  cursor: pointer;
}

.pagination-prev:focus,
.pagination-next:focus {
  background: rgba(252, 252, 252, 0.5) url("../images/icons/union.svg") no-repeat center center;
  outline: 2px solid #2d3440;
  border-radius: 50%;
}

.pagination-show-more {
  position: absolute;
  left: 489px;
  top: -8px;
  padding: 12px 32px;
  letter-spacing: 0.5px;
}

.pagination-panel {
  display: flex;
  flex-wrap: wrap;
}
