@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}

.button {
  color: #2D3440;
  font-weight: 700;
  line-height: 20px;
  background: #FCFCFC;
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  padding: 12px 32px;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.button:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Навигация */

.page-header {
  color: #2D3440;
  line-height: 20px;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 24px;
  justify-content: space-between;
}

.navigation-logo {
  margin-right: 32px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 700px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  min-width: 450px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  display: block;
  box-sizing: border-box;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-item-icon {
  margin-right: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}


.navigation-item-icon-exit,
.navigation-item-icon-cart {
  position: relative;
}

.navigation-icon-exit,
.navigation-icon-cart {
  position: absolute;
  right: auto;
  left: 17px;
  top: 9px;
  margin: auto 0;
}

.navigation-icon {
  display: block;
}

.navigation-item-user:last-child {
  margin-right: 0;
}

.navigation-link {
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  list-style-type: none;
  padding: 8px 16px;
  display: block;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  box-sizing: border-box;
}

.navigation-item-catalog-menu {
  position: relative;
}

.catalog-navigation-link {
  font-size: 14px;
  text-decoration: none;
  color: #2D3440;
}

.catalog-navigation-list {
  list-style-type: none;
  position: absolute;
  top: 44px;
  right: -22px;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 138px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 8px 0 8px 0;
}

.catalog-new-products,
.phone-header {
  font-weight: 700;
}

.catalog-new-products {
  padding-bottom: 12px;
}

.catalog-new-products:after {
  content: " ";
  display: inline-block;
  width: 103px;
  border-bottom: 1px solid #B9B9B9;
}

.navigation-item-catalog-menu .catalog-navigation-list {
  display: none;
}

.navigation-item-catalog-menu:focus-within {
  background-color: #FF4A78;
  border-radius: 30px;
}

.navigation-item-catalog-menu:focus-within:active {
  opacity: 0.3;
}

.navigation-item-catalog-menu:focus-within:active {
  box-shadow: inset 0 0 0 2px #000000;
  ;
}

.navigation-list .navigation-item-catalog-menu:hover .catalog-navigation-list,
.navigation-list .navigation-item-catalog-menu:focus-within .catalog-navigation-list,
.navigation-list .navigation-item-catalog-menu .catalog-navigation-list:hover {
  display: block;
  position: absolute;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.catalog-navigation-list:hover {
  opacity: 1;
}

.navigation-item-catalog-menu:focus-within .navigation-icon-catalog-menu {
  transform: rotateX(180deg);
}

.catalog-navigation-item {
  padding: 6px 16px 6px 16px;
  position: relative;
}

.navigation-link-user {
  padding: 6px 16px 6px 38px;
  box-sizing: border-box;
  display: block;
}

.navigation-link-icon-search {
  padding: 10px;
}







/* Слайдер */

.slider {
  margin-bottom: 80px;
}

.slider-gallery {
  color: #2D3440;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-ice-cream {
  display: flex;
  align-items: center;
  margin-right: 40px;
  position: relative;
}

.slider-ice-cream:last-child {
  margin-right: 0;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
}

.slider-ice-cream-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 136px 62px 138px 70px;
}

.inactive {
  display: none;
}

.slider-ice-cream-active::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  z-index: -1;
  background: #FFCBD8;
}

.slider-ice-cream-inactive::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  background: #FFCBD8;
  opacity: 0.4;
  z-index: -1;
}

.slider-foto-inactive {
  width: 100px;
  object-fit: contain;
  opacity: 0.4;
}

.slider-button {
  position: relative;
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  color: #FCFCFC;
  box-sizing: border-box;
  padding: 13px 16px 13px 16px;
  transform: translateX(-11px);
  cursor: pointer;
}

.slider-button:hover {
  background: #FCFCFC;
  color: #2D3440;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  color: #2D3440;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button:disabled {
  opacity: 0.4;
}

.slider-prev {
  transform: translate(16px, 3px) rotate(180deg);
}

.slider-arrow {
  position: absolute;
  transform: translate(-3px, -5px);
}

.slider-prev {
  transform: translateX(16px) rotate(180deg);
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: #FCFCFC;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #FCFCFC;
  ;
}

.slider-pagination-button:active {
  background: #FCFCFC;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #2D3440;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slider-social-item {
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
  box-sizing: border-box;
}

.sider-footer {
  display: flex;
  justify-content: space-between;
}

/* Секция "Подарки" */

.presents {
  margin-bottom: 80px;
}

.presents-list {
  list-style-type: none;
}


.presents-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.presents-item {
  width: 570px;
  background-color: #FF7799;
  background-size: 219px 268px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 36px 206px 36px 36px;
  box-sizing: border-box;
  border-radius: 16px;
}

.presents-raspberry {
  background-image: url("../images/raspberry-waffle.png");
}

.presents-marshmallow {
  background-image: url("../images/marshmallow-waffle.png");
}

.presents {
  color: #2D3440;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  text-align: center;
  margin-bottom: 56px;
}

.presents h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 28px;
}

.presents p {
  margin-top: 0;
  margin-bottom: 28px;
}

.popular {
  margin-bottom: 80px;
}

.advantages-container {
  background: url("../images/waffle-background.png") no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.advantages {
  background: #FFFFFF;
  border-radius: 16px;
  width: 1122px;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0 auto;

}

.advantages-item {
  width: 442px;
  margin: 0 30px 40px 16px;
  padding-left: 64px;
  background-position: right top;
}

.advantages-item-production {
  background: url("../images/icon-ice-cream.svg") no-repeat;
}

.advantages-item-farmers {
  background: url("../images/icon-cow.svg") no-repeat;
}

.advantages-item-raw-material {
  background: url("../images/icon-leaf.svg") no-repeat;
}

.advantages-item-temp {
  background: url("../images/icon-thermometer.svg") no-repeat;
}

.advantages-item:nth-child(2n) {
  margin-right: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  background: url("../images/blog-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 570px;
  padding: 32px 235px 67px 32px;
  box-sizing: border-box;
  background-position: right 100% bottom 25%;
}

.blog p {
  margin: 0;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
}

/* Форма подписки на новости */

.newsletter {
  background: #FFFFFF url("../images/mail-background.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 570px;
  padding: 6px;
}

.newsletter-container {
  background: #FFFFFF;
  border-radius: 16px;
  background-size: 558px 212px;
  padding: 26px;
}

.newsletter-container p {
  margin: 0 0 44px 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-input {
  flex-grow: 1;
  margin: 0 18px 0 0;
}

.field {
  padding: 14px 16px;
  font: inherit;
  line-height: 20px;
  color: #2D3440;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field:hover {
  border: 1px solid #2D3440;
}

.field:focus {
  border: 2px solid #2D3440;
}

.field:not(:empty):invalid {
  border: 1px solid #EA5454;
}

.field:not(:empty):hover:invalid {
  border: 2px solid #EA5454;
}

.field:disabled {
  background: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.field:disabled:hover {
  background: #E7E7E7;
  border: 1px solid #B9B9B9;
  opacity: 0.65;
}

.field::placeholder {
  color: #B9B9B9;
}


.form-button {
  color: #FCFCFC;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
}

.form-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.form-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.form-button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

/* Доставка */

.delivery {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery::before {
  content: "";
  position: absolute;
  width: 1170px;
  height: 534px;
  z-index: -1;
  background: #FFFFFF url("../images/delivery-background.png") no-repeat;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  background-position: right 100% bottom 25%;
}

.delivery-description {
  margin: 0;
}

.delivery-wrapper {
  width: 370px;
  padding-top: 103px;
  box-sizing: border-box;
}

.delivery-wrapper .title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-form {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
}

.delivery-form-description {
  margin: 0 0 60px 0;
  grid-column: 1/-1;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
}

.delivery-date-wrapper,
.delivery-phone-wrapper,
.delivery-address-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delivery-address-wrapper {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.delivery-button {
  grid-column: 1/-1;
  justify-self: center;
}


.contacts {
  background: #ede4e4 url("../images/contacts-background.jpg") no-repeat;
  background-size: 1170px 492px;
  border-radius: 16px;
  padding: 64px 763px 64px 64px;

}

.contacts-container {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}



.contacts-container p {
  margin: 0 0 12px 0;
}

.contacts-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2D3440;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2D3440;
  text-decoration: none;
}

.page-footer {
  padding: 48px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.social-link {
  display: block;
  border-radius: 50%;
}

.social-link:hover {
  background-color: #2D3440;
  background-size: contain;
  outline: 3px solid rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus {
  outline: 2px solid #2D3440;
  background-color: #2D3440;
}

.social-icon {
  display: block;
  color: #FCFCFC;
  outline: 3px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  outline-offset: -1px;
}

.footer-social-item {
  min-width: 24px;
  margin-right: 16px;
}

.footer-social-item:last-child {
  margin-right: 0;
}


.information-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 126px 182px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 8px;
  align-items: center;
}


.information-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.suppliers-link {
  font-weight: 700;
  position: relative;
}

.suppliers-link::before {
  content: "";
  min-width: 14px;
  min-height: 12px;
  background: url("../images/heart.svg") no-repeat;
  position: absolute;
  top: 3px;
  left: -20px;
}

.htmlacademy {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.htmlacademy-wrapper {
  width: 193px;
}

.htmlacademy-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

/* Страница каталога */

.main-inner {
  padding-top: 32px;
}

.breadcrumbs {
  list-style-type: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

.katalog-title {
  text-align: start;
  margin-bottom: 40px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 44px;
}

.catalog-filter-list {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.catalog-filter-group {
  margin: 0;
  border: none;
}

.fat-filter {
  display: flex;
  min-width: 383px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
}

.topping-filter {
  display: flex;
  min-width: 604px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 44px;
  padding: 0;
}

.sorting-button {
  font-size: 14px;
  outline: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  box-shadow: none;
}

.sorting-button:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.sorting-button:active {
  background: rgba(252, 252, 252, 0.5);
}

.sorting-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  row-gap: 90px;
  column-gap: 30px;
  padding: 0;
  margin-bottom: 16px;
  margin-top: 0;
}

.product-card {
  background: #FCFCFC;
  border-radius: 8px;
  padding: 0 40px 24px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.product-image {
  border-radius: 50%;
}

.product-card-buy-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card-link-image {
  margin-bottom: 16px;
  margin-top: -50px;
}

.product-card-link-name {
  color: #565C66;
  text-decoration: none;
}

.product-card-link-name h3,
.product-card-price {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.product-card-link-name h3 {
  margin-bottom: 8px;
}

.product-card-link-name p {
  margin-top: 0;
  margin-bottom: 20px;
}

.product-card-button {
  background: #FF2F64;
  border: none;
  box-shadow: none;
  text-decoration: none;
  border-radius: 26px;
  padding: 9px;
  color: #FCFCFC;
  box-sizing: border-box;
}

.product-card-button:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.product-card-button:active {
  background: #FFCBD8;
  outline: 2px solid #FF2F64;
  color: #2D3440;
}

.product-card-button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  border-radius: 26px;

}

.product-card-button-icon {
  display: block;

}

.pagination-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  line-height: 20px;
  color: #2D3440;
  margin-right: 13px;
}

.pagination-show-more {
  margin-right: 340px;
  padding: 12px 32px;

}
